@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

:root {
  --primary-color: #33f1ff;
  --secondary-color: #fff;
  --light-color: #f4f4f4;
  --dark-color: #333;
  --light-dark-color: #444;
  --max-width: 1100px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Press Start 2P', cursive;
  line-height: 1.6;
  background: var(--secondary-color);
  color: var(--primary-color);
  font-size: 1rem;
}

.container {
  max-width: var(--max-width);
  margin: 2rem auto;
  overflow: hidden;
  padding: 0 2rem;
}

a {
  color: var(--dark-color);
  text-decoration: none;
  font-size: 1.25rem;
}

a > h1 {
  font-size: 1.5rem;
}

.font-size {
  font-size: 0.5rem;
}

ul {
  list-style: none;
}

.flex-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.row-align-start {
  align-items: flex-start;
}

.row-just-center {
  justify-content: center;
}

.flex-col {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: space-between; */
  text-align: center;
}

.footer {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

.footer-backround {
  padding: 2rem;
  background-color: var(--primary-color);
}

input {
  padding: 1rem;
  text-align: center;
  font-size: 1rem;
  border-radius: 1rem;
  border: 4px solid var(--primary-color);
  font-family: 'Press Start 2P', cursive;
  margin: 0 30vw;
  margin-bottom: 0.25rem;
  background-color: var(--light-color);
}

input:focus {
  outline: none;
}

.email-input {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  border-right: 0;
}

textarea {
  padding: 1rem;
  text-align: center;
  font-size: 1rem;
  border-radius: 1rem;
  border: 4px solid var(--primary-color);
  font-family: 'Press Start 2P', cursive;
  margin: 0 30vw;
}

.position {
  position: fixed;
  bottom: 0;
  left: 0;
}

.blog {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: left;
  justify-content: center;
  border: 1px var(--secondary-color) dotted;
  border-bottom: 1px var(--primary-color) dotted;
  /* border-radius: 1rem; */
  padding: 2rem;
}

.blog:hover {
  /* border: 4px var(--primary-color) solid; */
  background-color: var(--light-color);
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  box-shadow: 5px 5px;
}

.main-title-grid {
  color: var(--dark-color);
  display: grid;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.layer01 {
  grid-column: 1;
  grid-row: 1;
}

.layer02 {
  grid-column: 1;
  grid-row: 1;
}

.blog > h1 {
  font-size: 1.5rem;
  color: var(--light-dark-color);
}
.blog > h2 {
  font-size: 1rem;
}
.blog > p {
  font-size: 0.75rem;
  color: var(--light-dark-color);
}

/* .border {
  border: 3px red solid;
} */

/* span {
  border-bottom: 1px dashed var(--primary-color);
} */

.btn {
  display: inline-block;
  font-family: 'Press Start 2P', cursive;
  padding: 0.75rem 1.25rem;
  border-radius: 1rem;
  cursor: pointer;
  background-color: var(--primary-color);
  border: 4px var(--primary-color) solid;
}
.email-submit-button {
  padding: 0.9rem 1.25rem;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
  background-color: var(--primary-color);
  border: 4px var(--light-color) solid;
}

.blog-delete {
  padding: 0.5rem;
  cursor: pointer;
  font-size: 0.5rem;
  width: max-content;
}

.btn:hover,
.close-button:hover,
.submit-button:hover {
  background-color: var(--secondary-color);
  border: 4px var(--primary-color) solid;
}
.email-submit-button:hover {
  background-color: var(--light-color);
  border: 4px var(--light-color) solid;
}

.close-button,
.submit-button {
  border-radius: 0.5rem;
  margin: 0.25rem 30vw;
}

.shout-delete {
  padding: 0.15rem 0.25rem;
  font-size: 0.5rem;
}

.myb-05 {
  margin-bottom: 0.5rem;
}
.myb-1 {
  margin-bottom: 1rem;
}
.myb-2 {
  margin-bottom: 2rem;
}
.myb-6 {
  margin-bottom: 6rem;
}

.mxl-2 {
  margin-left: 2rem;
}

/* margin for centering the popup */
.myt-25vw {
  margin-top: 20vh;
}

.m-0 {
  margin: 0;
}

.mxr-2 {
  margin-right: 2rem;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.85);
  width: 100vw;
  height: 100vh;
}

.shouts {
  color: var(--light-dark-color);
}

.shouts h3 {
  font-size: 1rem;
}
.shouts p {
  font-size: 0.6rem;
}

.made-by {
  font-size: 0.5rem;
  color: var(--dark-color);
}

.sabre,
.wader {
  width: 20px;
  margin-right: 0.5rem;
}

small {
  color: red;
  font-size: 0.5rem;
}
